<% layout("/layouts/boilerplate") -%>


  <div class="mt-4">
    <h1>Privacy Policy</h1>
    <p>
      We value your privacy and are committed to protecting your personal information.
      Any data collected will be used solely for the purpose of improving our services
      and will not be shared with third parties without your consent.
    </p>
  </div>