<% layout("/layouts/boilerplate") -%>

  <div class="mt-4">
    <h1>Terms and Conditions</h1>
    <p>
      By using this website, you agree to abide by our terms and conditions.
      We reserve the right to modify these terms at any time without prior notice.
      Please review them periodically to stay informed.
    </p>
  </div>