<% layout("/layouts/boilerplate") -%>
<form action="/login" method="post" class="needs-validation" novalidate>
    <h1 class="col-6 offset-3">Sign Up On Wanderlust</h1>
    <div class="col-8 offset-3">
  <div class="mb-3">
    <label for="username">username:</label>
    <input id="username" name="username" placeholder="enter username" type="text" class="form-control" required />
   
  </div>
    <div class="mb-3">
      <label for="password">password:</label>
      <input id="password" name="password" placeholder="enter password" type="text" class="form-control" required />
      
    </div>
    
    <button class="btn">Log in</button>
    </form>
  </div>
</div>